* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 10px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #2e2a2a;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

/* .border {
  background:rgba(0, 0, 0, 0);
  font-size: 1px;
  margin-top: 10px;
} */
.app__left {
  flex: 1;
  margin-right: 10px;
  min-width: 0;
  background-color: aliceblue;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 20px;
  position: relative;
}

.app__map{
  position: absolute;
  bottom: 0;
}

.app__right {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  min-width: 0;
  background-color: aliceblue;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 20px;
}

.app__div__right {
  min-width: 0;
}
.app__right>CardContent>Table {
  flex: 1.5;
  padding-top: 5px;
}

.app__right>CardContent {
  display: flex;
  padding-top: 5px;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.app__graph{
  flex-grow: 1;
  min-width: 0;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
  .app__right>CardContent {
    margin: 5px;
  }
}